@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  outline-color: rgba(0, 0, 0, 0.205);
  outline-width: 1px;
  outline-style: solid;
  margin-top: 40px;
  width: 360px;
  height: 640px;
  background-color: #152570;
}

.barraLateral {
  width: 136px;
  height: 640px;
  background: rgba(0, 134, 224, 0.31);
  border-radius: 2px;
}
.perfil {
  width: 114px;
  height: 115px;
  margin-top: 2px;
  margin-left: 11px;
  margin-right: 11px;

  display: block;
  text-align: center;
  background: #FFFFFF;
  border: 2px solid #152570;
  box-sizing: border-box;
  border-radius: 100px;
  text-decoration: none;
  padding-top: 40%;

  font-family: Zilla Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #0086E0;
}



.entrega {
  display: block;
  margin-top: 28px;
  width: 136px;
  height: 30px;
  padding-top: 5px;
  padding-left: 18px;
  text-decoration: none;

  background: #FFFDFD;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;

  color: #0086E0;
}

.entregador {
  display: block;
  margin-top: 52px;
  width: 136px;
  height: 30px;
  padding-top: 5px;
  padding-left: 18px;
  text-decoration: none;

  background: #FFFDFD;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;

  color: #0086E0;
}

.seja-entregador {
  display: block;
  margin-top: 52px;
  width: 136px;
  height: 30px;
  padding-top: 5px;
  padding-left: 18px;
  text-decoration: none;

  background: #FFFDFD;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;

  color: #0086E0;
}

.duvidas {
  display: block;
  margin-top: 108px;
  width: 136px;
  height: 30px;
  padding-top: 5px;
  padding-left: 18px;
  text-decoration: none;

  background: #FFFDFD;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;

  color: #0086E0;
}

.sair {
  display: block;
  margin-top: 52px;
  width: 136px;
  height: 30px;
  padding-top: 5px;
  padding-left: 18px;
  text-decoration: none;

  background: #FFFDFD;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;

  color: #0086E0;
}