@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  outline-color: rgba(0, 0, 0, 0.205);
  outline-width: 1px;
  outline-style: solid;
  margin-top: 40px;
  width: 360px;
  height: 640px;
  background-color: #152570;
}

.logo {
  width: 195px;
  height: 193px;

  

  margin-top: 71px;
  margin-left: 83px;
  margin-right: 82px;
}


.email {
  margin-top: 117px;
  margin-left: 26px;
  margin-right: 25px;

  width: 309px;
  height: 50px;

  background: #FFFFFF;
  border: 2px solid #152570;
  box-sizing: border-box;
  border-radius: 6px;

  text-indent: 18px;
}

.email::placeholder {
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;

  color: #BBBBBB
}

.password {
  margin-top: 8px;
  margin-left: 26px;
  margin-right: 25px;

  width: 309px;
  height: 50px;

  background: #FFFFFF;
  border: 2px solid #152570;
  box-sizing: border-box;
  border-radius: 6px;

  text-indent: 18px;
}

.password::placeholder {

  font-family: Zilla Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

.login {
  margin-top: 8px;
  margin-left: 26px;
  margin-right: 25px;

  width: 309px;
  height: 50px;

  background: #FFFFFF;
  border: 2px solid #152570;
  box-sizing: border-box;
  border-radius: 6px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #0086E0;
}


.login:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}
